body{
    text-align: center;
    padding: 30px 0;
    /* display: grid;
    grid-template-areas: 
    "FrameHeader FrameHeader"
    "FrameMain FrameMain"
    "FrameMain FrameMain"
    "FrameFooter FrameFooter"
    ; */
} 
.frameHeader{
    grid-area: FrameHeader;
    display: flex;
    justify-content: center;
    justify-content:space-between;
    margin-bottom: 40px;
}
.frameHeader nav ul{
    display: flex;
}
.frameHeader nav ul li{
    padding: 10px;
}
.frameMain{
    grid-area: FrameMain;
}
.frameFooter{
    grid-area: FrameFooter;
    height: 50px;
    background-color: black;
    color: white;
}
.centerPictures{
display: flex;
justify-content: center;
margin-bottom: 40px;
}
.centerPictures > div{
    margin: 0 15px;
}
.frameMain :first-child
{
 margin-bottom: 40px;  
}
.mainPara {
    display: flex;
    width: 960px;
    height: 450px;
    justify-content:space-between;
    align-items: center;
}