body{
    text-align: center;
    padding: 30px 0;
    /* display: grid;
    grid-template-areas: 
    "FrameHeader FrameHeader"
    "FrameMain FrameMain"
    "FrameMain FrameMain"
    "FrameFooter FrameFooter"
    ; */
} 
.frameHeader{
    grid-area: FrameHeader;
    display: flex;
    justify-content: center;
    justify-content:space-between;
    margin-bottom: 40px;
    background-color:#444444;
    height:100px;
    align-items:center;
    color:white
}
.frameHeader .logo
{
    color:black;
}
.frameHeader nav ul{
    display: flex;
    list-style-type: none
}
.frameHeader nav ul li{
    padding: 10px;
    margin-left: 100px;
}
.frameHeader nav ul li a{
    text-decoration: none;
    color:white
}
.frameMain{
    grid-area: FrameMain;
}
.frameFooter{
    grid-area: FrameFooter;
    height: 50px;
    background-color: black;
    color: white;
}
.centerPictures{
display: flex;
justify-content: center;
margin-bottom: 40px;
}
.centerPictures > div{
    margin: 0 15px;
}
.frameMain :first-child
{
 margin-bottom: 40px;  
}
.mainPara {
    display: flex;
    justify-content: end;
    margin: 0 260px;
}
.divMainPara{
    display: flex;
    flex-direction: column
}
.divMainPara p{
    text-align: justify;

}
.divMainPara button{
    align-self: start;
    height:30px;
    background-color:black;
    color: white
}